// btn
@mixin btnColor($color, $back) {
	color: $color;
	background-color: $back;
	transition: background-color $transition-time, box-shadow $transition-time;
	&:hover {
		color: $color;
		background-color: darken($back, 5%);
		box-shadow: $shadow-normal;
	}
}

// clear-both
@mixin clear-both() {
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

// focus-outline
@mixin focus-outline($outline: $default-focus-outline) {
	&:focus {
		outline: $outline;
	}
}