// app > tag default
// 
%flex-center {
	display: flex;
	align-items: center; /* vertically */
	justify-content: center; /* horizontally*/
	flex-direction: column;
	clear: both;
}

// Centering vertically
// 
%position-center-container {
	position: relative;
}
%position-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

// btn
//
%btn-common {
	border: none;
	cursor: pointer;
}
%btn {
	@extend %btn-common;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border-radius: $radius-button;
}
%btn-icon {
	@extend %btn-common;
	border-radius: 50%;
	transition: box-shadow $transition-time;
	&:hover { box-shadow: $shadow-normal; }
}

// nav
// 
%nav-link {
	display: inline-block;
	padding: 12px 18px;
	color: white;
	border-radius: 4px 4px 0 0;
	transition: color $transition-time;
	&:hover { color: $secondary-color; }
}
%nav-button {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	display: inline-block;
}

// app > post
// 
%post-thumb {
	position: relative;
	overflow: hidden;
	border-radius: $radius-normal;
	img {
		position: absolute;
		left: 50%; top: 50%;
		width: auto; height: 100%;
		max-width: none;
		-webkit-transform: translate(-50%,-50%); /* Safari */
		-ms-transform: translate(-50%,-50%); /* IE 9 */
		transform: translate(-50%,-50%);
	}
}

// app > article
// 
%article-meta {
	font-size: 0.8em;
	color: $gray;
}
%article-content {
	padding: 1em 0;
	white-space: pre-wrap;
}

// app > list, item style.
// 
%app-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
%app-list-item {
	margin: 1rem 0;
	padding: 0.2rem 1rem;
	transition: background-color $transition-time;

	&:hover { background-color: $lightgray; }
	a { display: block; }
}

%app-ol {
	font-family: $font-serif;
	font-style: italic;
	font-size: 1.75rem;
	color: $primary-color;
	vertical-align: text-top;
}
%app-ol-item {
	font-family: $font-base;
	font-style: normal;
	font-size: 1rem;
	color: $black;
}