//======================================================================
// Variables
//======================================================================

// fonts
$font-serif: Georgia, serif;
$font-sans-serif: 'Nanum Gothic', Geneva, sans-serif;
$font-sans-serif-2: 'Advent Pro', Verdana, sans-serif;
$font-monospace: "Lucida Console", Monaco, monospace;
$font-cursive: 'Pinyon Script', cursive;

// font set
$font-base: $font-sans-serif !default;
$font-accent: $font-sans-serif-2 !default;

// responsive size
$mobile-size: 768px !default;
$tablet-size: 992px !default;
$media-mobile: "only screen and (max-width : #{$mobile-size})";
$media-tablet: "only screen and (min-width : #{$mobile-size})";

// colors
$teal: #9dc8c8; 
$lightblue: #4f81c5;
$gray: #999999;
$green: #507d3a;
$red: #e1553e;
$black: #333;
$lightgray: #f2f2f2;
$darkgray: #555;
$yellow: #ffcc00;
$white: #fff;

// theme-colors
$primary-color: $teal !default;
$primary-color-light: lighten($primary-color, 20%);
$primary-color-dark: darken($primary-color, 20%);
$secondary-color: $gray !default;
// base colors
$text-color: $black !default;
$text-contrast-color: $white !default;
$body-bg-color: initial !default;
// link colors
$link-color: $lightblue !default;
$link-hover-color: lighten($link-color, 20%) !default;
$link-hover-decoration: none !default;
// message dialog colors
$info-color: $lightblue !default;
$success-color: $green !default;
$error-color: $red !default;
$warning-color: $yellow !default;
// table colors
$table-head-color: $primary-color !default;
$table-head-text-color: white !default;
$table-text-color: inherit !default;
$table-row-even-bg: $lightgray !default;
$table-link-color: $link-color !default;
$table-link-hover-color: $link-hover-color !default;
$table-link-hover-decoration: underline !default;

// else
$radius-normal: 4px !default;
$radius-small: round($radius-normal / 2);
$radius-large: round($radius-normal * 2);
$radius-button: $radius-small;
$shadow-near: 0 0 4px rgba(black, 0.3);
$shadow-normal: 0 2px 8px rgba(black, 0.3);
$shadow-far: 2px 4px 16px rgba(black, 0.3);
$transition-time: 0.3s !default;
$icon-size: 35px; // nav toggle button's width

// button
$button-radius: $radius-small !default;
$button-color: $white !default;
$button-bg-color: $primary-color !default;

// dropdown
$dropdown-bg-color: $white !default;
$dropdown-bg-hover-color: darken($dropdown-bg-color, 10%) !default;
$dropdown-link-color: $gray !default;
$dropdown-link-hover-color: darken($dropdown-link-color, 20%) !default;

// grid
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;

// card
$card-size: 300px !default;
$card-size-small: 150px !default;
$card-size-large: 500px !default;
$card-bg-color: white !default;
$card-link-color: $link-color !default;

// nav
$nav-bg-color: $primary-color !default;
$nav-link-color: white !default;
$nav-link-hover-color: $secondary-color !default;
$nav-font: $font-accent !default;
$nav-font-size: 1.25em !default;