//============================================================
// private mixins
//============================================================

@mixin _card-image-size($direction:'vertical') {
  @if ($direction == 'vertical') {
    width: 105%;
    height: auto;
  } @else if ($direction == 'horizontal') {
    width: auto;
    height: 105%;
  }
}

// calculate card size
@mixin _cal-card-width($size, $direction:'vertical') {
  @if ($direction == 'vertical') {
    width: $size * 1.25;
  } @else if ($direction == 'horizontal') {
    width: $size * 1.25;
  }
}

@mixin _card-size {
  height: $card-size;
  &.small { height: $card-size-small; }
  &.large { height: $card-size-large; }
}

@mixin _card-horizontal-size {
  height: $card-size * .75;
  &.small { height: $card-size-small * .75; }
  &.large { height: $card-size-large * .75; }
}

@mixin _card-inline-size {
  @include _cal-card-width($card-size);
  &.small { @include _cal-card-width($card-size-small); }
  &.large { @include _cal-card-width($card-size-large); }
}

@mixin _card-horizontal-inline-size {
  @include _cal-card-width($card-size, 'horizontal');
  &.small { @include _cal-card-width($card-size-small, 'horizontal'); }
  &.large { @include _cal-card-width($card-size-large, 'horizontal'); }
}

//======================================================================
// Card
//======================================================================

%card {
  z-index: $z-index-card;
  display: flex;
  padding: 0;
  margin: .5rem 0;
  background-color: $card-bg-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;

  &.inline {
    display: inline-flex;
    max-width: 100%;
    margin-bottom: .5rem;
    vertical-align: text-top;

    @include media-tablet-up {
      margin: .5rem;
    }
  }

  &.hoverable {
    @include no-decoration;
    transition: box-shadow $transition-time;

    &:focus,
    &:hover {
      box-shadow: $card-hover-shadow;
    }
  }
}

%card-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .card-title {
    $_shadow-color: #000;
    position: absolute;
    bottom: .2em;
    left: .5em;
    z-index: $z-index-card-content;
    margin: .3em 0;
    color: $card-title-color;
    text-shadow: 0 0 4px $_shadow-color;
  }
}

// default - vertical
.card {
  @extend %card;
  @include _card-size;
  flex-direction: column;

  .card-image {
    @extend %card-image;
    @include border-top-radius($card-radius);
    flex: 3 1 0;

    img {
      @include _card-image-size('vertical');
      max-width: none;
    }
  }

  .card-content {
    flex: 1 3 0;
    padding: .5rem;
  }

  &.inline {
    @include _card-inline-size;
  }
}

.card-horizontal {
  @extend %card;
  @include _card-horizontal-size;
  flex-direction: row;

  .card-image {
    @extend %card-image;
    @include border-left-radius($card-radius);
    flex: 2 3 0;

    img {
      @include _card-image-size('horizontal');
      width: auto;
      height: 100%;
      max-width: none;
    }
  }

  .card-content {
    flex: 3 2 0;
    padding: .5rem;
  }

  &.inline {
    @include _card-horizontal-inline-size;
  }
}

// card list
ul.card-list {
  @include reset-list;

  li:not(.card):not(.card-horizontal) {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
  }
}
