//============================================================
// private mixins
//============================================================

@mixin _card-image-size($direction:'vertical') {
  @if ($direction == 'vertical') {
    width: 105%;
    height: auto;
  } @else if ($direction == 'horizontal') {
    width: auto;
    height: 105%;
  }
}

// calculate card size
@mixin _cal-card-size($size, $direction:'vertical') {
  @if ($direction == 'vertical') {
    width: $size * 1.25;
  } @else if ($direction == 'horizontal') {
    width: $size * 1.25;
  }
}

@mixin _card-size {
  height: $card-size;
  &.small { height: $card-size-small; }
  &.large { height: $card-size-large; }
}

@mixin _card-horizontal-size {
  height: $card-size * .75;
  &.small { height: $card-size-small * .75; }
  &.large { height: $card-size-large * .75; }
}

@mixin _card-inline-size {
  @include _cal-card-size($card-size);
  &.small { @include _cal-card-size($card-size-small); }
  &.large { @include _cal-card-size($card-size-large); }
  &.horizontal {
    @include _cal-card-size($card-size, 'horizontal');
    &.small { @include _cal-card-size($card-size-small, 'horizontal'); }
    &.large { @include _cal-card-size($card-size-large, 'horizontal'); }
  }
}

//======================================================================
// Card
//======================================================================

// card list
ul.card-list {
  @include reset-list;

  li:not(.card) {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
  }
}

// default - vertical
.card {
  @include _card-size;
  z-index: $z-index-card;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: .5rem 0;
  background-color: $card-bg-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;

  .card-image {
    position: relative;
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: center;
    overflow: hidden;
    border-radius: $card-radius $card-radius 0 0;

    img {
      @include _card-image-size('vertical');
      max-width: none;
    }

    .card-title {
      $_shadow-color: #000;
      position: absolute;
      bottom: .2em;
      left: .5em;
      z-index: $z-index-card-content;
      margin: .3em 0;
      color: $card-title-color;
      text-shadow: 0 0 4px $_shadow-color;
    }
  }

  .card-content {
    flex: 1;
    padding: .5rem;
  }

  // horizontal
  &.horizontal {
    @include _card-horizontal-size;
    flex-direction: row;

    .card-image {
      @extend %card-horizontal-child;
      @extend %card-horizontal-image;
    }

    .card-content {
      @extend %card-horizontal-child;
      flex: 3;
    }
  }

  &.inline {
    @include _card-inline-size;
    display: inline-flex;
    max-width: 100%;
    margin: .5rem 0;
    vertical-align: text-top;

    @include media-tablet-up {
      margin: .5rem;
    }
  }

  &.hoverable {
    @include no-decoration;
    transition: box-shadow $transition-time;

    &:focus,
    &:hover {
      box-shadow: $card-hover-shadow;
    }
  }
}

//============================================================
// Placeholders
//============================================================

%card-horizontal-child {
  display: inline-block;
  width: auto;
  height: 100%;
  max-height: none;
}

%card-horizontal-image {
  flex: 2;
  border-radius: $card-radius 0 0 $card-radius;

  img {
    @include _card-image-size('horizontal');
  }
}
