//======================================================================
// Card
//======================================================================

// card list
ul.card-list {
  @include reset-list;

  li:not(.card) {
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
  }
}

// default - vertical
.card {
  z-index: $z-index-card;
  display: flex;
  height: $card-size;
  padding: 0;
  margin: .5rem 0;
  flex-direction: column;
  background-color: $card-bg-color;
  border-radius: $card-radius;
  box-shadow: $card-shadow;

  // card size
  &.small {
    height: $card-size-small;
  }

  &.large {
    height: $card-size-large;
  }

  .card-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    overflow: hidden;
    border-radius: $card-radius $card-radius 0 0;

    img {
      @include cardImageSize('vertical');
      max-width: none;
    }

    .card-title {
      $_shadow-color: #000;
      position: absolute;
      bottom: .2em;
      left: .5em;
      z-index: $z-index-card-content;
      margin: .3em 0;
      color: $card-title-color;
      text-shadow: 0 0 4px $_shadow-color;
    }
  }

  .card-content {
    padding: .5rem;
    flex: 1;
  }

  // horizontal
  &.horizontal {
    height: $card-size * .75;
    flex-direction: row;

    // card size
    &.small { height: $card-size-small * .75; }
    &.large { height: $card-size-large * .75; }

    %card-horizontal-child {
      display: inline-block;
      width: auto;
      height: 100%;
      max-height: none;
    }

    .card-image {
      @extend %card-horizontal-child;
      flex: 2;
      border-radius: $card-radius 0 0 $card-radius;

      img {
        @include cardImageSize('horizontal');
      }
    }

    .card-content {
      @extend %card-horizontal-child;
      flex: 3;
    }
  }

  &.inline {
    @include calCardSize($card-size);

    display: inline-flex;
    max-width: 100%;
    margin: .5rem 0;
    vertical-align: text-top;

    @include media-tablet-up {
      margin: .5rem;
    }

    // width size
    &.small { @include calCardSize($card-size-small); }
    &.large { @include calCardSize($card-size-large); }
    &.horizontal {
      @include calCardSize($card-size, 'horizontal');
      &.small { @include calCardSize($card-size-small, 'horizontal'); }
      &.large { @include calCardSize($card-size-large, 'horizontal'); }
    }
  }

  &.hoverable {
    @include no-decoration;
    transition: box-shadow $transition-time;

    &:focus,
    &:hover {
      box-shadow: $card-hover-shadow;
    }
  }
}
