//======================================================================
// Chip
//======================================================================
.chip {
  display: inline-block;
  font-size: 0.85em;
  padding: 0 1em;
  height: 2em;
  line-height: 2;
  border-radius: 2em;
  background-color: $lightgray;
  margin-right: 0.25em;
  margin-bottom: 0.25em;

  img {
    float: left;
    margin-right: 0.5em;
    margin-left: -1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
}

a.chip {
  @include no-decoration;
  color: inherit;
  transition: box-shadow $transition-time;

  &:hover,
  &:focus {
    box-shadow: $shadow-near;
  }
}
