//======================================================================
// Chip
//======================================================================
.chip {
  // local variables.
  $chip-size: $chip-height;
  
  display: inline-block;
  font-size: 0.85em;
  height: $chip-height;
  padding: 0 $chip-size / 2;
  line-height: strip-unit($chip-size);
  border-radius: $chip-size;
  margin-right: $chip-size / 4;
  margin-bottom: $chip-size / 4;
  background-color: $chip-bg-color;

  img {
    float: left;
    margin-right: $chip-size / 4;
    margin-left: -$chip-size / 2;
    width: $chip-size;
    height: $chip-size;
    border-radius: 50%;
  }
}

a.chip {
  @include no-decoration;
  color: inherit;
  transition: box-shadow $transition-time;

  &:hover,
  &:focus {
    box-shadow: $shadow-near;
  }
}
