//======================================================================
// Collapse
//======================================================================
%collapse-toggle {
  @include btn-base;
  position: relative;

  &::after {
    position: absolute;
    right: 1em;
    font-weight: bold;
    color: inherit;
    content: '\002B';
  }

  &.active::after {
    content: '\2212';
  }
}

%collapse-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-out;
}

.collapse-toggle {
  @extend %collapse-toggle;
}

.collapse-panel {
  @extend %collapse-panel;
}

.accordion {
  @include reset-list;

  .accordion-head {
    @extend %collapse-toggle;
    padding: $accordion-head-padding;
    margin-bottom: -$accordion-border-width;
    border: $accordion-border-width solid $accordion-border-color;

    &.active {
      color: $accordion-head-active-color;
      background-color: $accordion-head-active-bg-color;
    }
  }

  .accordion-body {
    @extend %collapse-panel;
    border-right: $accordion-border-width solid $accordion-border-color;
    border-left: $accordion-border-width solid $accordion-border-color;
  }

  li:first-child > .accordion-head {
    @include border-top-radius($accordion-border-radius);
  }

  li:last-child > .accordion-head {
    @include border-bottom-radius($accordion-border-radius);
    margin-bottom: 0;

    &.active {
      border-radius: 0;

      + .accordion-body {
        @include border-bottom-radius($accordion-border-radius);
        border-bottom: $accordion-border-width solid $accordion-border-color;
      }
    }
  }
}
