@mixin _navbar-dropdown {
  > .dropdown-toggle,
  > .dropdown-btn {
    @extend %nav-button;
    @extend %nav-link;
    min-width: $dropdown-min-width;
    line-height: $nav-line-height;
  }

  .dropdown-content > .active > a {
    border-color: transparent;
    border-radius: 0;
  }
}

@mixin _dropdown-content-list {
  &.active > a {
    color: $dropdown-active-color;
    background-color: $dropdown-active-bg-color;
  }

  a {
    @include no-decoration;
    display: block;
    padding: .5em 1em;
    font-family: inherit;
    font-size: inherit;
    color: $dropdown-link-color;
    transition: color $transition-time, background-color $transition-time;

    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-bg-hover-color;
    }
  }
}

//======================================================================
// dropdown
//======================================================================

.dropdown {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // toggle button
  .dropdown-toggle {
    @extend %btn-common;
  }

  // hover button
  .dropdown-btn {
    @extend %btn-common;
  }

  .dropdown-content {
    @include reset-list;
    position: absolute;
    top: 100%;
    // browser compatibility problem.
    // @link  https://github.com/archco/cosmos-css/issues/63
    left: 0;
    z-index: $z-index-dropdown-content;
    display: none;
    min-width: $dropdown-min-width;
    background-color: $dropdown-bg-color;
    box-shadow: $shadow-normal;

    &.show { display: block; }

    li {
      @include _dropdown-content-list;
    }

    // dropdown-content position
    &[data-align='left'] {
      right: auto;
      left: 0;
    }

    &[data-align='right'] {
      right: 0;
      left: auto;
    }
  }

  &:hover {
    button.dropdown-btn + ul.dropdown-content {
      display: block;
    }
  }
}

// nav dropdown
.navbar .dropdown {
  @include _navbar-dropdown;
}

// Responsive
@include media-only-mobile() {
  .dropdown-content { width: 100%; }
}
