//======================================================================
// Grid
//======================================================================

/** container */
.container {
  width: 90%;
  margin: 0 auto;

  .row {
    margin-right: (-1 * $gutter-width / 2);
    margin-left: (-1 * $gutter-width / 2);
  }
}

@include media-tablet-up {
  .container { width: 75%; }
}

/** Grid */
.row {
  @include clear-both;
  margin-right: auto;
  margin-left: auto;
}

// Grid mobile (default)
[class*="col-"] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 0 $gutter-width / 2;
  box-sizing: border-box;
}

@mixin make-columns($term: null, $count: $num-cols) {
  $colname: '.col-';

  @if ($term != null) {
    $colname: $colname + $term + '-';
  }

  @for $i from 1 through $count {
    $perc: percentage($i / $count);

    #{$colname + $i} {
      width: decimal-round($perc, 2);
    }
  }
}

// (default) tablet, desktop
@include media-tablet-up {
  @include make-columns();
}

// sm - small device and up.
@include make-columns('sm');

// md - tablet device and up.
@include media-tablet-up {
  @include make-columns('md');
}

// lg - desktop.
@include media-only-desktop {
  @include make-columns('lg');
}
