//======================================================================
// Helpers
//======================================================================

// toggling content
.display-hide {
  display: none !important;
}

.display-show {
  display: block !important;
}

.display-invisible {
  visibility: hidden;
}

// responsive hiding
%resopnsive-tablet-hide {
  @include media-tablet-up() {
    display: none;
  }
}

%responsive-mobile-hide {
  @include media-only-mobile() {
    display: none;
  }
}

.hide-only-mobile {
  @extend %responsive-mobile-hide;
}

// font
.font-cursive { font-family: $font-cursive; }
.font-accent { font-family: $font-accent; }
.font-sans-serif { font-family: $font-sans-serif; }

// align
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

// centering
%flex-center {
  @include flexContainer('center', 'center');
}

%position-center-container {
  @include positionCenterContainer;
}

%position-center {
  @include positionCenter;
}

.vertical-center-container {
  @include flexContainer('flex-start', 'center');

  .flex-item {
    display: block;
  }
}

.flex-center-container {
  @include flexContainer('center', 'center');
}

.center-position-container {
  @include positionCenterContainer;

  .center-position {
    @include positionCenter;
  }
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

// float
.float-clear {
  @include clear-both;
}

.float-left { float: left !important; }
.float-right { float: right !important; }

// text
.comment {
  font-size: .8rem;
  color: $text-color-weak;
}

// position
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-fixed;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: $z-index-sticky;
}

// color-set helper
@each $name, $color in $color-set {
  .color-#{$name} {
    color: $color;
  }

  .bg-color-#{$name} {
    color: get-contrast($color);
    background-color: $color;
  }
}

// misc
.box-line { border: 1px solid $secondary-color; }
.no-margin { padding: 0; margin: 0;}
.full-width { width: 100%; }
.full-height { height: 100%; }
.group { margin: 1rem 0; }
