//======================================================================
// Message
//======================================================================

/** message-box */
.message-box {
  // default color
  @include message-box($secondary-color);
  // common attributes.
  position: relative;
  z-index: $z-index-message-box;
  padding: 1rem 1.5rem;
  margin: 8px;
  vertical-align: middle;
  border-radius: $radius-normal;
  transition: opacity ($transition-time * 2);

  .btn-close {
    font-size: 1.5rem;
  }

  // each color-set
  @each $name, $color in $color-set {
    &.#{$name} {
      @include message-box($color);
    }
  }
}
