//======================================================================
// Scaffolding - Tag Default
//======================================================================

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: $font-base;
  line-height: $body-line-height;
  color: $text-color;
  background-color: $background-color;
}

header {
  z-index: $z-index-header;
}
footer {
  z-index: $z-index-footer;
}

footer.footer {
  color: $footer-color;
  background-color: $footer-bg-color;

  a {
    @extend %link-no-deco;
    color: $footer-link-color;
    transition: color $transition-time;
    &:visited { color: inherit; }
    &:hover { color: $footer-link-hover-color; }
  }
  .footer-copyright {
    padding: 0.5rem 0;
    text-align: center;
    color: rgba($footer-color, 0.8);
    background-color: rgba(#000, 0.1);
  }
}

address {
  font-style: normal;
}

hr {
  border: 0;
  border-bottom: 1px solid $border-color;
}

// issue #1
img {
  max-width: 100%;
  height: auto;
}

// link
a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:visited {
    color: $link-color-visited;
  }

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: $link-hover-decoration;
  }
}

a.no-deco {
  @include no-decoration;
}

%link-no-deco {
  @include no-decoration;
}

// blockquote
blockquote {
  margin: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0 1em;
  color: $blockquote-color;
  border-left: 0.25em solid $blockquote-border-color;
}

//======================================================================
// Table
//======================================================================

// default
table {
  border-collapse: collapse;
  border: $table-border-width solid $table-border-color;

  th,
  td {
    padding: $table-cell-padding / 2;
    border: $table-border-width solid $table-border-color;
  }
}

table.table {
  width: 100%;
  max-width: 800px;
  font-size: 0.9em;
  color: $table-text-color;
  border-collapse: collapse;
  border: none;

  th,
  td {
    padding: $table-cell-padding;
    border: none;
  }
  th {
    text-align: left;
    background-color: $table-head-color;
    color: $table-head-text-color;
  }

  &.center {
    margin: 0 auto;
    text-align: initial; // want to fix align center in helper class. #86
  }

  &.bordered {
    border: $table-border-width solid $table-border-color;

    th, td {
      border: $table-border-width solid $table-border-color;
    }
  }

  &.striped {
    tr:nth-child(even) { background-color: $table-row-even-bg; }
  }

  &.hover {
    tr {
      &:hover {
        background-color: $table-row-hover-bg;
      }
    }
  }
}

.table-responsive-wrapper {
  max-width: 100%;
  overflow-x: auto;

  table {
    width: auto;
    max-width: none;
  }
}

//======================================================================
// Code
//======================================================================
code,
kbd,
samp,
pre {
  font-family: $font-monospace;
}
// inline code
code {
  padding: $code-padding;
  font-size: $code-font-size;
  color: $code-color;
  background-color: $code-bg-color;
  border-radius: $code-border-radius;

  // code inside link
  a & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}
// block code
pre code {
  display: block;
  padding: $code-block-padding;
  line-height: $code-block-line-height;
  color: $code-color;
  overflow-x: auto;
}

//======================================================================
// Scaffolding Optional Classes
//======================================================================

// .pad
article,
aside,
div,
p {
  &.pad {
    padding: 1em 0.5em;
  }
}
// section
@include media-tablet-up() {
  section.pad {
    padding: 2rem 5%;
  }
}
@include media-only-mobile {
  section.pad {
    padding: 2rem 0.5rem;
  }
}

// .accent
h1, h2, h3, h4, h5, h6 {
  &.accent {
    font-family: $font-accent;  
  }
}

// .list, .list-group and .list-horizontal
ol,
ul {
  &.list,
  &.list-group,
  &.list-horizontal {
    @include reset-list;
  }

  // .list
  &.list {
    li {
      padding: $list-padding;
    }
  }

  // .list-group
  &.list-group {
    li {
      padding: $list-group-padding;
      border: $list-border-width solid $list-border-color;
      margin-bottom: -$list-border-width;
      transition: background-color $transition-time;
    }

    li:first-child {
      @include border-top-radius($list-group-border-radius);
    }

    li:last-child {
      @include border-bottom-radius($list-group-border-radius);
    }

    li.active {
      color: $list-group-active-color;
      background-color: $list-group-active-bg-color;
    }

    &.hover {
      li:hover:not(.active) {
        background-color: $list-group-hover-bg;
      }
    }
  }

  // .list-horizontal
  &.list-horizontal {
    li {
      display: inline-block;
      padding: $list-padding;
      border-right: $list-border-width solid $list-border-color;
    }

    li:last-child {
      border-right: none;
    }
  }
}
