//======================================================================
// Scroll-to
//======================================================================

/** scroll to top button */
#scroll-to-top {
  @extend %btn-common;
  position: fixed;
  right: 4%;
  bottom: 4%;
  z-index: $z-index-scroll-to-button;
  display: none;
  min-width: 1rem;
  min-height: 1rem;
  padding: 1rem;
  color: $scroll-to-color;
  background-color: rgba($scroll-to-bg-color, .5);
  border-radius: 50%;
  outline: none;
  box-sizing: content-box;
  transition: background-color $transition-time;

  &.show { display: block; }

  &:hover { background-color: $scroll-to-bg-color; }
}
