@mixin _simple-crud-common {
  @include clear-both;
  display: none;

  &.show { display: block; }
}

//======================================================================
// Simple CRUD
//======================================================================
%simple-list {
  @include reset-list;

  li {
    padding: .2em .4em;
    margin: .1em 0;
  }
}

.simple-crud-list {
  @extend %simple-list;

  .simple-crud-item {
    .simple-crud-view-read,
    .simple-crud-view-update,
    .simple-crud-view-delete {
      @include _simple-crud-common;
    }
  }

  .simple-crud-actions {
    display: inline-block;
    float: right;
    vertical-align: middle;
  }
}
