@mixin _tag-link-active {
  color: $tab-active-color;
  cursor: default;
  background-color: $tab-active-bg-color;
  border-top-color: $tab-active-border-accent-color;
  border-right-color: $tab-border-color;
  border-bottom-color: $tab-active-bg-color;
  border-left-color: $tab-border-color;
  border-radius: $tab-active-border-radius $tab-active-border-radius 0 0;

  @each $name, $color in $color-set {
    &.#{$name} {
      border-top-color: $color;
    }
  }
}

//======================================================================
// Tab
//======================================================================

.tab {
  @include reset-list;
  overflow: hidden;
  font-family: $tab-font;
  font-size: $tab-font-size;

  li {
    display: inline-block;
  }

  .tab-link {
    @include no-decoration;
    display: inline-block;
    padding: .5em 1em;
    color: $tab-color;
    text-align: center;
    background-color: $tab-bg-color;
    border-color: transparent;
    border-style: solid;
    // border-width: top right&left bottom
    border-width: $tab-border-width * 3  $tab-border-width $tab-border-width;

    &:hover,
    &:focus {
      color: $tab-hover-color;
    }

    &.active {
      @include _tag-link-active;
    }
  }

  &::after {
    display: block;
    margin-top: -$tab-border-width * 2;
    border-top: $tab-border-width solid $tab-border-color;
    content: '';
  }
}

.tab-content {
  display: none;

  &.show { display: block; }
}

.tab-fade-effect {
  animation: 1s fade-in;
}
