//============================================================
// Toast
//============================================================
.toast-container {
  position: fixed;
  bottom: 5%;
  left: 50%;
  z-index: $z-index-toast;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translate(-50%, 0);
}

.toast {
  $_margin-bottom: 1rem;
  $_transition-duration: .6s;

  min-width: $toast-min-width;
  padding: $toast-padding-y $toast-padding-x;
  margin-top: $_margin-bottom;
  color: $toast-text-color;
  text-align: center;
  background-color: $toast-bg-color;
  border-radius: $toast-border-radius;
  opacity: 0;
  transition: opacity $_transition-duration;

  &.show {
    opacity: 1;
  }
}
