h3 Toggle Dropdown
div(class='dropdown')
  button(class='dropdown-toggle btn') TOGGLE
  div(class='dropdown-content')
    a(class='dropdown-item active' href='#') hello
    a(class='dropdown-item' href='#') drop
    a(class='dropdown-item' href='#') down

h3 Hover Dropdown
div(class='dropdown')
  button(class='dropdown-btn btn info') HOVER
  div(class='dropdown-content')
    a(class='dropdown-item' href='#') hello
    a(class='dropdown-item' href='#') drop
    a(class='dropdown-item' href='#') down

h3 Dropdown Content Alignment
div(style='display:flex;width:100%;justify-content:space-between;')
  div(class='dropdown')
    button(class='dropdown-btn btn success') LEFT
    div(class='dropdown-content' data-align='left')
      a(class='dropdown-item' href='#') hello
      a(class='dropdown-item' href='#') drop
      a(class='dropdown-item' href='#') down
  div(class='dropdown')
    button(class='dropdown-btn btn secondary') CENTER
    div(class='dropdown-content' data-align='center')
      a(class='dropdown-item' href='#') hello
      a(class='dropdown-item' href='#') drop
      a(class='dropdown-item' href='#') down
  div(class='dropdown')
    button(class='dropdown-btn btn warning') RIGHT
    div(class='dropdown-content' data-align='right')
      a(class='dropdown-item' href='#') hello
      a(class='dropdown-item' href='#') drop
      a(class='dropdown-item' href='#') down
