//======================================================================
// Badge
//======================================================================

.badge {
  display: inline-block;
  padding: 0.125em 0.3em;
  margin-left: 0.1em;
  margin-right: 0.1em;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: 10%;
  border-radius: $radius-small;
  
  @include badgeColor($gray); // default color
  // color-set
  @each $name, $color in $color-set {
    &.#{$name} {
      @include badgeColor($color);
    }
  }

  &.rounded {
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 10em;
  }

  &:empty { display: none; }
}

a.badge {
  @include no-decoration;
}
