//======================================================================
// Collapse
//======================================================================

.collapse-toggle {
  @include btn-base;

  &::after {
    content: '\002B';
    color: inherit;
    font-weight: bold;
    float: right;
    margin-right: 5px;
  }
  &.active::after {
    content: "\2212";
  }
}

.collapse-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
