//======================================================================
// Tab
//======================================================================

.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $tab-font;
  font-size: $tab-font-size;

  li {
    display: inline-block;
  }
  .tab-link {
    display: inline-block;
    text-align: center;
    padding: 0.8em 1.6em;
    color: $tab-color;
    background-color: $tab-bg-color;
    text-decoration: none;
    border: $tab-border-width solid transparent;
    transition: background-color $transition-time;

    &:hover {
      color: $tab-hover-color;
      background-color: $tab-hover-bg-color;
    }
    &:focus,
    &.active {
      color: $tab-active-color;
      background-color: $tab-active-bg-color;
      border: $tab-border-width solid $tab-border-color;
      border-bottom: $tab-border-width solid $tab-active-bg-color;
    }
  }
  &:after {
    content: "";
    display: block;
    margin-top: -$tab-border-width;
    border-top: $tab-border-width solid $tab-border-color;
  }
}

.tab-content {
  display: none;
  padding: 0.5em 1em;
}
