//======================================================================
// Tab
//======================================================================

.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $tab-font;
  font-size: $tab-font-size;
  margin-bottom: -1px;

  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    text-align: center;
    padding: 0.8em 1.6em;
    color: $tab-color;
    background-color: $tab-bg-color;
    text-decoration: none;
    border: 1px solid transparent;
    transition: background-color $transition-time;

    &:hover {
      color: $tab-hover-color;
      background-color: $tab-hover-bg-color;
    }
    &:focus,
    &.active {
      color: $tab-active-color;
      background-color: $tab-active-bg-color;
      border: 1px solid $tab-border-color;
      border-bottom: 1px solid $tab-active-bg-color;
    }
  }
}

.tab-content {
  display: none;
  padding: 0.5em 1em;
  border: 1px solid $tab-border-color;
}
