//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  section(class='pad')
    h1 Hello, World!
    p test page.
    h1 loader test
    include ../includes/loader.pug

block script
  <script>
  | document.querySelector('#toggle').addEventListener('click', function (e) {
  |   e.currentTarget.classList.toggle('is-loading');
  | });
  </script>