//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  section(class='pad')
    h1 Hello, World!
    p test page.<span class="arrow"></span>

    h1 ElementUtil
    include ../includes/element-util.pug
    h1 Toast
    include ../includes/toast.pug

block script
  <script>
  | //
  </script>
