//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  section(class='pad')
    h1 Hello, World!
    p test page.<span class="arrow"></span>

    h1 ElementUtil
    include ../includes/element-util.pug
  button(class='btn' onclick="Cosmos.Toast.makeText('toast test').show();") Toast

block script
  <script>
  | //
  </script>
