//- button test page.
extends ./layout/layout.pug

block title
	title= 'Button Test Page'

block content
	section
		h1 Buttons
		hr
		h2 dropdown
		div(class='dropdown')
			button(class='dropdown-toggle btn') dropdown
			ul(class='dropdown-content')
				li
					a(href='#') hello
				li
					a(href='#') drop
				li
					a(href='#') down
		h2 button
		button(class='btn') btn
		button(class='btn btn-danger') btn-danger