//- sass components page
extends ./layout/layout.pug

block title
  title= 'sass components page'

block append content
  section
    h1 Scaffolding
    hr
    h2 Link
    a(href='#') Link Tag
    br
    a(href='#' class='no-deco') .no-deco
  
  include includes/button.pug
  include includes/card.pug
  include includes/form.pug
  include includes/grid.pug
  include includes/helper.pug
  include includes/pagination.pug