//- sass components page
extends ./layout/layout.pug

block title
	title= 'sass components page'

block append content
	include includes/button.pug
	include includes/card.pug
	include includes/form.pug
	include includes/grid.pug
	include includes/helper.pug
	include includes/pagination.pug