//- test page.
extends ./layout/layout.pug

block title
	title= 'Grid'

block content
	h1 Grid
	hr
	h2 Defualt Grid
	div(class='row')
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
		div(class='col-1 box-line bg-color-primary') col-1
	div(class='container')
		div(class='row')
			div(class='col-4 bg-color-primary')
				p 4/12 columns
			div(class='col-8 bg-color-secondary')
				p 8/12 columns
	h2 Mobile Grid
	div(class='container')
		div(class='row')
			div(class='col-sm-6 bg-color-primary')
				p col-sm-6
			div(class='col-sm-6 bg-color-secondary')
				p col-sm-6
	h2 Tablet Grid
	div(class='container')
		div(class='row')
			div(class='col-md-3 bg-color-secondary')
				p col-md-6
			div(class='col-md-5 bg-color-primary')
				p col-md-6
			div(class='col-md-4 bg-color-secondary')
				p col-md-6
	h2 Desktop Grid
	div(class='container')
		div(class='row')
			div(class='col-lg-3 col-md-6 bg-color-secondary')
				p col-lg-6
			div(class='col-lg-3 col-md-6 bg-color-primary')
				p col-lg-6
			div(class='col-lg-3 col-md-6 bg-color-secondary')
				p col-lg-6
			div(class='col-lg-3 col-md-6 bg-color-primary')
				p col-lg-6
