//- js modules page
extends ./layout/layout.pug

block title
	title= 'js modules'

block append content
	include includes/ajax-loading.pug
	include includes/dropdown.pug
	include includes/message.pug
	include includes/parallax.pug
	