//- test page.
extends ./layout/layout.pug

block title
	title= 'Parallax'

block content
	section
		h1 Parallax
		hr
		div(class='parallax-index-4')
		<div class="flex-center-container" style="background-color:gray;height:250px;">
			div
				h2 Content
				p content here...
		</div>
		div(class='parallax-index-5')