//- test page.
extends ./layout/layout.pug

block title
  title= 'Test Page'

block content
  div(id='ajax-loading')
  section(class='pad')
    h1 Hello, World!
    p test page.
    button(class='btn' onclick='toggle()') toggle
  <script>
  | function toggle() {
  |   var a = document.querySelector('#ajax-loading');
  |   a.classList.toggle('show');
  | }
  </script>