//======================================================================
// Scaffolding
//======================================================================
body {
  margin: 0 auto;
  max-width: $app-max-width;
}
footer {
  a { padding: 0.5em 1em; }
  .footer-box { padding: 1rem; }
}
h1 {
  @extend h1.accent;
}
