/* dropdown */
.dropdown {
	position: relative;
	display: inline-block;
}
button.dropdown-toggle {
	@extend %nav-button, %nav-link;
}
.dropdown-content {
	z-index: 12;
	display: none;
	position: absolute;
	min-width: 150px;
	background-color: $lightgray;
	box-shadow: $shadow-normal;
	> li > a {
		font-size: 1rem;
		color: $darkgray;
	}
}
// Responsive
@media #{$media-mobile} {
	.dropdown-content { width: 100%; }
}