[class*='parallax'] {
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*
// example
.parallax-index-1 {
  background-image: url('../img/index-bg/index-1.jpg');
  height: 500px;
}
 */
