/** Scaffolding - tag defualt */
* { box-sizing: border-box; }
img { max-width: 100%; height: auto; }
body {
	font-family: $font-base;
	max-width: $app-max-width;
	margin: 0 auto;
	color: $black;
}
header {
	@extend %flex-center;
	height: 110px;
	z-index: 10;
}
footer {
	background-color: $primary-color;
	color: white;
	z-index: 10;
	a { 
		padding: 0.5em 1em;
		color: white;
		transition: color $transition-time;
		&:hover { color: $secondary-color; }
	}
	.footer-box { padding: 1rem; }
}
address { font-style: normal; }
hr {
	border: 0;
	border-bottom: 1px solid $gray;
}
article { padding: 1em 0.5em; }
input[type="text"].pw { -webkit-text-security: disc; }

/** section */
@media #{$media-tablet} {
	section { padding: 2rem 5%; }
}
@media #{$media-mobile} {
	section { padding: 2rem 0.5rem; }
}
section h1 {
	font-family: $font-accent;
	padding-left: 1rem;
}

/** link default */
a {
	color: $link-color;
	text-decoration: none;
	&:hover { color: lighten($link-color, 20%); }
}

/** table default */
table {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	color: $gray;
	font-size: 0.9em;
	th, td { padding: 0.5em 1em; }
	th {
		text-align: left;
		background-color: $primary-color;
		color: white;
	}
	tr:nth-child(even) { background-color: $lightgray; }
	a {
		color: $black;
		transition: text-decoration $transition-time;
		&:hover { text-decoration: underline; }
	}
}