h2 Default Badge 
  span(class='badge') Badge
h3 in Text
span text with <span class="badge primary">Primary</span>
h3 in Button
button(class='btn') Button <span class="badge info">3</span>
button(class='btn warning') Normal
h3 in Link
a(href='#') Link <span class="badge success">New</span><br>
a(href='#' class='badge danger') Link badge
h2 Rounded Badge
span text and <span class="badge rounded info">13</span><br>
a(href='#' class='badge rounded warning') rounded badge
