h2 Default Buttons with Color-set
button(class='btn') btn
each color in colorSet
  button(class='btn '+color)= color

h2 Flat button
button(class='btn-flat') btn-flat
each color in colorSet
  button(class='btn-flat '+color)= color

h2 Other tag as button
input(type='submit')
a(href='#' class='btn info') link button
br
a(href='#' class='btn-flat') link flat button

h2 Icon Button
button(class='btn-icon')
  <i class="fa fa-calendar" aria-hidden="true"></i>
button(class='btn-icon primary')
  <i class="fa fa-home" aria-hidden="true"></i>
button(class='btn-icon secondary')
  <i class="fa fa-user" aria-hidden="true"></i>
button(class='btn-icon info')
  <i class="fa fa-comment" aria-hidden="true"></i>
button(class='btn-icon success')
  <i class="fa fa-code" aria-hidden="true"></i>
button(class='btn-icon warning')
  <i class="fa fa-exclamation" aria-hidden="true"></i>
button(class='btn-icon danger')
  <i class="fa fa-times" aria-hidden="true"></i>


h2 Disabled
button(class='btn' disabled) btn
button(class='btn-flat' disabled) btn-flat
button(class='btn-icon danger' disabled)
  <i class="fa fa-times" aria-hidden="true"></i>
