section
	h1 Buttons
	hr
	
	h2 Button
	button(class='btn') btn
	button(class='btn info') info
	button(class='btn success') success
	button(class='btn warning') warning
	button(class='btn danger') danger
	button(class='btn primary') primary
	button(class='btn secondary') secondary
	br
	input(type='submit')
	button(class='btn btn-danger') btn-danger
	a(href='#' class='btn info') link button
	
	h2 Flat button
	button(class='btn-flat') btn-flat
	button(class='btn-flat info') info
	button(class='btn-flat success') success
	button(class='btn-flat warning') warning
	button(class='btn-flat danger') danger
	button(class='btn-flat primary') primary
	button(class='btn-flat secondary') secondary
	br
	a(href='#' class='btn-flat') link button
	
	h2 Icon Button
	button(class='btn-icon')
		<i class="fa fa-calendar" aria-hidden="true"></i>
	button(class='btn-icon info')
		<i class="fa fa-comment" aria-hidden="true"></i>
	button(class='btn-icon success')
		<i class="fa fa-code" aria-hidden="true"></i>
	button(class='btn-icon warning')
		<i class="fa fa-exclamation" aria-hidden="true"></i>
	button(class='btn-icon danger')
		<i class="fa fa-times" aria-hidden="true"></i>
	button(class='btn-icon primary')
		<i class="fa fa-home" aria-hidden="true"></i>
	button(class='btn-icon secondary')
		<i class="fa fa-user" aria-hidden="true"></i>

	h2 Disabled
	button(class='btn' disabled) btn
	button(class='btn-flat' disabled) btn-flat
	button(class='btn-icon danger' disabled)
		<i class="fa fa-times" aria-hidden="true"></i>
	