section
	h1 Buttons
	hr
	h2 Button
	button(class='btn') btn
	button(class='btn info') info
	button(class='btn success') success
	button(class='btn warning') warning
	button(class='btn danger') danger
	br
	input(type='submit')
	button(class='btn btn-danger') btn-danger
	a(href='#' class='btn info') link button
	h2 Flat button
	button(class='btn-flat') btn-flat
	button(class='btn-flat info') info
	button(class='btn-flat success') success
	button(class='btn-flat warning') warning
	button(class='btn-flat danger') danger
	br
	a(href='#' class='btn-flat info') link button