h2 Tag Chip
div(class='chip')
  | TagSample
div(class='chip')
  | TagSample
  button(class='btn-close') ✖

h2 Contact Chip
div(class='chip')
  img(src='https://www.cloudschool.org/static/user_images/avatar-04.gif' alt='person')
  | John Doe
div(class='chip')
  img(src='https://www.cloudschool.org/static/user_images/avatar-04.gif' alt='person')
  | John Doe
  button(class='btn-close') ✖

h2 Link Chip
a(class='chip' href='#')
  | TagSample
  button(class='btn-close hideable') ✖
a(class='chip' href='#')
  img(src='https://www.cloudschool.org/static/user_images/avatar-04.gif' alt='person')
  | John Doe
  button(class='btn-close removeable') ✖

h2 Chip with script
div(id='chip-container')
