section
	h1 Dropdown
	hr
	div(class='dropdown')
		button(class='dropdown-toggle btn') dropdown
		ul(class='dropdown-content')
			li
				a(href='#') hello
			li
				a(href='#') drop
			li
				a(href='#') down