div(class='dropdown')
  button(class='dropdown-toggle btn') TOGGLE
  ul(class='dropdown-content')
    li
      a(href='#') hello
    li
      a(href='#') drop
    li
      a(href='#') down
div(class='dropdown')
  button(class='dropdown-btn btn info') HOVER
  ul(class='dropdown-content')
    li
      a(href='#') hello
    li
      a(href='#') drop
    li
      a(href='#') down