h2 Toggling content
p(class='box-line show') test page.
p(class='box-line hide') test page.
p(class='box-line invisible') test page.
h2 font
p(class='font-sans-serif') Hello, World!
p(class='font-accent') Hello, World!
p(class='font-cursive') Hello, World!
h2 Align
div(class='box-line')
  p(class='align-center') center align.
  p(class='align-left') left align.
  p(class='align-right') right align.
<div class="flex-center-container box-line" style="height:360px;">
  div(class='center-block')
    p vertically centering.
</div>
h2 Float
div(class='float-clear')
  div(class='float-right box-line') this is right.
  div(class='float-left box-line') this is left.
h2 Color
each color in colorSet
  div(class='pad color-'+color)= 'color-' + color
  div(class='pad bg-color-'+color)= 'bg-color-' + color
h2 Caret
div(class='pad bg-color-warning')
  | up <span class="caret up"></span>
  | right <span class="caret right"></span>
  | down <span class="caret down"></span>
  | left <span class="caret left"></span>
h2 Arrow
div(class='pad bg-color-secondary')
  | up <span class="arrow up"></span>
  | right <span class="arrow right"></span>
  | down <span class="arrow down"></span>
  | left <span class="arrow left"></span>
