h2 Toggling content
p(class='box-line show') test page.
p(class='box-line hide') test page.
p(class='box-line invisible') test page.
h2 font
p(class='font-sans-serif') Hello, World!
p(class='font-accent') Hello, World!
p(class='font-cursive') Hello, World!
h2 Align
div(class='box-line')
  p(class='center') center align.
  p(class='left') left align.
  p(class='right') right align.
<div class="flex-center-container box-line" style="height:360px;">
  div(class='center-block')
    p vertically centering.
</div>
h2 Float
div(class='float-clear')
  div(class='float-right box-line') this is right.
  div(class='float-left box-line') this is left.
h2 Color
div(class='bg-color-secondary')
  span(class='color-primary') Primary color.
div(class='bg-color-primary')
  span(class='color-secondary') Secondary color.