div(class='pad flex-center-container bg-color-success')
  div
    span(class='loader-one')
    br
    span loading..
button(id='toggle' class='btn primary is-loading') loading..
button(class='btn warning is-loading') hey
button(class='btn danger is-loading' disabled) hey
