//- scaffolding test page
extends ./layout/layout.pug

block title
  title= 'Scaffolding Test Page'

block content
  section
    h1 Hello, World!
    hr
    h2 Article
    article
      p this is article
    h2 Link
    a(href='#') link
    h2 Table
    table
      tr
        th name
        th age
        th gender
        th link
      tr
        td Karl
        td 18
        td male
        td
          a(href='#') karl
      tr
        td Mia
        td 22
        td female
        td
          a(href='#') mia
