//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  section(class='pad')
    h1 Hello, World!
    p test page.

    h2(id='c-test') collapse-test
    div(id='c-target')
      p(class='pad bg-color-success')=lorem

    h1 Toast
    include ../includes/toast.pug

block script
  <script>
  | var c = new Cosmos.Collapse({element: '#c-test', target: '#c-target', is_collapsed: false});
  | c.on();
  </script>
