//- test page.
extends ../layout/layout.pug

block title
  title= 'Test Page'

block content
  section(class='pad')
    h1 Hello, World!
    p test page.

    h1 Grid
    include ../includes/grid.pug

    h1 Dropdown
    include ../includes/dropdown.pug
