// font import
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Lora|Roboto');
// font-family: 'Roboto', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Baloo Bhaina', cursive;

//======================================================================
// Setting Variables.
//======================================================================

// fonts
$font-serif: 'Lora', serif;
$font-sans-serif: 'Roboto', sans-serif;
$font-cursive: 'Baloo Bhaina', cursive;

// font set
$font-base: $font-sans-serif;
$font-accent: $font-cursive;

// colors
$orange: palette('utorange');
$smoke-brown: palette('cinereous');
$dark-blue: palette('charcoal');
$white: palette('white');
$black: palette('jet');

// theme-colors
$primary-color: $orange;
$primary-color-accent: lighten($primary-color, 15%);
$secondary-color: $smoke-brown;
$text-color: $white;
$text-color-invert: $black;
$background-color: $dark-blue;


//======================================================================
// Custom Variables.
//======================================================================

$app-max-width: 1280px !default;
