// font import
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina|Lora|Roboto');
// font-family: 'Roboto', sans-serif;
// font-family: 'Lora', serif;
// font-family: 'Baloo Bhaina', cursive;

//======================================================================
// Setting Variables.
//======================================================================

// fonts
$font-serif: 'Lora', serif;
$font-sans-serif: 'Roboto', sans-serif;
$font-cursive: 'Baloo Bhaina', cursive;

// font set
$font-base: $font-sans-serif;
$font-accent: $font-cursive;

// colors
$light-violet: #c9a8ce;
$smoke-gray: #7b93a3;

// theme-colors
$primary-color: $light-violet;
$secondary-color: $smoke-gray;

//======================================================================
// Custom Variables.
//======================================================================

$app-max-width: 1280px !default;
